* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: white;
    display: flex;
    font-family: sans-serif;
    background-image: url(https://images.unsplash.com/photo-1762430259780-28ffac74916c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870);
    background-size: cover
}

.container {
    margin: auto;
    width: 500px;
    max-width: 90%;
}

.container form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: black;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgb(0, 0, 0, .3)
}

.container form h2 {
    text-align: center;
    margin-bottom: 24px;
    color: white;
}

.container form .form-control {
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 2px solid rgb(201, 194, 194);
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.btn {
    padding: 4px;
    font-size: 12px;
    border-radius: 4px;
    color: rgb(59, 59, 58);
    cursor: pointer;
}

.btn:hover {
    color: black;
    background-color: beige;

}